{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}


<div class="media cf home-tout home-tout-maytest">
	<h5 class="tl title hide"><a href="/pages/media">Mixed Media</a></h5>
	<div class="contain home-tout-maytest__wrap">
		<div class="home-tout-maytest__top">
			<div class="home-tout-maytest__half">
				<a href="https://www.johnelliott.com/pages/denim-guide" class="home-tout-maytest__link">
					<figure class="ir" style="padding-bottom:126.25%">

						<img alt="DENIM GUIDE" class="lazy loaded" src="{{ section.settings.image.src | img_url: "large" }}" style="opacity: 1;">
						<div class="home-tout-maytest__content">
							<div class="home-tout-maytest__text-wrapper">
                <h6 class="text">{{ section.settings.title | escape }}</h6>
								<p class="middleheading">{{ section.settings.subheading | escape }}</p>
								<p class="subheading">{{ section.settings.button_label | escape }}</p>
							</div>
						</div>
					</figure>
				</a>
			</div>


      <div class="home-tout-maytest__half">
				<a href="https://www.johnelliott.com/collections/all-womens" class="home-tout-maytest__link">
					<figure class="ir" style="padding-bottom:126.25%">


						<img alt="WOMEN'S COLLECTION" class="lazy loaded" src="{{ section.settings.image_2.src | img_url: "large" }}" style="opacity: 1;">
						<div class="home-tout-maytest__content">
							<div class="home-tout-maytest__text-wrapper">
								<h6 class="text">{{ section.settings.title_2 | escape }}</h6>
								<p class="middleheading">{{ section.settings.subheading_2 | escape }}</p>
								<p class="subheading">{{ section.settings.button_label_2 | escape }}</p>
							</div>
						</div>
					</figure>
				</a>
			</div>
		</div>

    <div class="home-tout-maytest__bottom">
			<div class="home-tout-maytest__full-width">

				<a href="https://www.johnelliott.com/pages/melrose" class="home-tout-maytest__link">
					<figure class="ir">
            <img alt="FLAGSHIP STORE" class="" src="{{ section.settings.image_3.src | img_url: "large" }}" style="opacity: 1;">
						<div class="home-tout-maytest__content">
							<div class="home-tout-maytest__text-wrapper">
								<h6 class="text">{{ section.settings.title_3 | escape }}</h6>
								<p class="middleheading">{{ section.settings.subheading_3 | escape }}</p>
								<p class="subheading">{{ section.settings.button_label_3 | escape }}</p>
							</div>
						</div>
					</figure>
				</a>
			</div>
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Bottom Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Bottom Hero"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "SubHeading",
        "default": "Bottom Hero"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Heading",
        "default": "Bottom Hero"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button label"
      },
      {
        "type": "text",
        "id": "subheading_2",
        "label": "SubHeading",
        "default": "Bottom Hero"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "Heading",
        "default": "Bottom Hero"
      },
      {
        "type": "text",
        "id": "button_label_3",
        "label": "Button label"
      },
      {
        "type": "text",
        "id": "subheading_3",
        "label": "SubHeading",
        "default": "Bottom Hero"
      },
      {
        "type": "url",
        "id": "button_link_3",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Bottom Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
